h1 {
  color: #999999;
  font-family: arial, sans-serif;
  font-size: 45px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: darkgrey;
  padding: 1em 1.5em;
  text-align: center;
}

a:hover {
  background-color: darkgrey;
}
a:active {
  background-color: black;
}
