* {
  margin: 0;
  padding: 0;
}

body {
  background: #999999;
}

div {
  width: 900px;
  margin: 0 auto;
  overflow: auto;
}

ul {
  list-style-type: none;
}

li img {
  float: left;
  margin: 10px;
  border: 5px solid #fff;

  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}

li img:hover {
  -webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
  box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
}
li {
  align-self: center;
  text-align: center;
}

h2 {
  color: #999999;
  font-family: arial, sans-serif;
  font-size: 45px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
  text-align: center;
}

body {
  background: #333;
}

div {
  margin: 0 auto;
  overflow: auto;
}

ul {
  list-style-type: none;
}

li img {
  float: left;
  margin: 10px;
  border: 5px solid #fff;
}

li {
  align-content: center;

}

li:hover {
  color: #333333;
}

span {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #999999;
  text-align: center;
}

span:hover {
  background-color: darkgrey;
}
span:active {
  background-color: black;
}

